.list-item {
	height: 8em;
	margin-bottom: -1px;
	padding: 1em;
	border-width: 1px 0;
	border-style: solid;
	border-color: gray;
}
.item-icon {
	float: left;
	margin-right: 1em;
	width: 8em;
	height: 8em;
	outline: 1px solid gray;
	overflow: hidden;
}
.item-title {
	font-size: 1.5em;
	color: #333;
}