@CHARSET "UTF-8";

.item {
	height: 7em;
	padding: .5em;
	margin-bottom: -1px;
	border-width: 1px 0;
	border-style: solid;
	border-color: gray;
}

.item-icon {
	float: left;
	margin-right: .5em;
	width: 7em;
	height: 7em;
	outline: 1px solid gray;
	overflow: hidden;
}

.item-title {
	height: 2em;
	font-size: 1.3em;
	color: #333;
}

.item-school,
.item-date
{ margin-top: .8em; }